/* SignInPage.css */

.main-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
    margin: auto;
    margin-top: 50px;
  }
  
  .page-title {
    text-align: center;
    color: #007bff; /* Blue color, change as needed */
  }
  
  .sign-in-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 6px;
    color: #333;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff; /* Blue color, change as needed */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue color on hover, change as needed */
  }
  